VITE_REGISTRY_ADDRESS=UQCYxSFNCJHmBxVpgfqAesgjLQDsLch3WJG3MJYyhnBDS7gg
# testnet registry: 0QB3kmSKGD6gtx7w894_I_dPubKE24STWKjVJ830Hx_t1dIz
VITE_TESTNET=true
VITE_RATINGS_BACKEND=
VITE_SSL_GATEWAY=https://catallaxy.cc
VITE_MIN_RATING_TXS=1
